node_modules/
.vscode/
.eslintrc
react/node_modules/
react/coverage
react/.scannerwork
react/*-lock.json
react/__tests__/__snapshots__/*
react/__tests__/*/__snapshots__/*
### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific
node_modules/
docs/_book/
.tmp
.idea
npm-debug.log
.build/
lib
.eslintrc
*.orig
react/package-lock.json
